# =========================================================
# ENV / SECRETS
# =========================================================

.env
.env.*.local


# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================================
# VIRTUAL ENVIRONMENTS
# =========================================================

venv/
.venv/


# =========================================================
# MACOS
# =========================================================

.DS_Store


# =========================================================
# VS CODE
# =========================================================

.vscode/


# =========================================================
# DATA
# =========================================================

#data/


# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/


# =========================================================
# NEXT.JS / NODE
# =========================================================

web/node_modules/
web/.next/
web/.env*.local