# =========================================================
# ENV / SECRETS
# =========================================================

.env
config.py


# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================================
# VIRTUAL ENVIRONMENTS
# =========================================================

venv/
.venv/


# =========================================================
# STREAMLIT
# =========================================================

.streamlit/


# =========================================================
# MACOS
# =========================================================

.DS_Store


# =========================================================
# VS CODE
# =========================================================

.vscode/


# =========================================================
# DATA
# =========================================================

data/


# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/